*{
  margin: 0;
  padding: 0;
  list-style: none ;

}
body{
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  min-height: 100vh ;
  display: flex;
  flex-direction: column;
}

header{
  height: 40px;
  display: flex;
  column-gap: 1rem;
  align-items: center;
  background-color: beige;
  padding: 1rem;
}

main{
  flex: 1;
  background-color: rgb(241, 202, 208);
}


.header_input{
  width: 10rem;
  height: 1.5rem;
  padding: 4px;
  margin-bottom: 2rem;
}

.todolist{
  width: 10rem;
  background-color: lightpink;
  display: flex;
  direction: column;
  padding: 1rem;
  border-radius: 14px;
}
